    <footer class="left-0 z-20 w-full p-4 bg-white border-t border-gray-200 shadow md:flex md:items-center md:justify-between md:p-6 dark:bg-gray-800 dark:border-gray-600 mt-auto">
        <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">&copy 2024 <a href="#" class="hover:underline">Babearia™</a>. Todos os direitos reservados.
        </span>
        <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
            <li>
                <a href="#" class="hover:underline me-4 md:me-6">Sobre</a>
            </li>
            <li>
                <a href="#" class="hover:underline me-4 md:me-6">Contato</a>
            </li>
            <li>
                <a href="#" class="hover:underline">Github</a>
            </li>
        </ul>
    </footer>
</body>
</html>