<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles/style.css" type="text/css" />
    <script src="./scripts/jquery-3.7.1.min.js"></script>
    <script src="./scripts/index.global.min.js"></script>
    <script src="./scripts/pt-br.global.min.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const calendarEl = document.getElementById("calendar");
        const calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: "dayGridMonth",
          locale: "pt-br",
          selectable: true,
        });
        calendar.render();
      });
    </script>

    <title>Barbearia</title>
  </head>
  <body
    class="flex flex-col min-h-screen dark:bg-slate-900 dark:text-white"
  ></body>
</html>
